
@{
    ViewData["Title"] = "Home Page";
}


<div class="page-header">
    <div class="pull-left">
        <h1>Dashboard</h1>
    </div>
    <div class="pull-right">
        <ul class="stats">
            <li class='blue'>
                <i class="icon-calendar"></i>
                <div class="details">
                    <span class="big">February 22, 2013</span>
                    <span>Wednesday, 13:56</span>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="breadcrumbs">
    <ul>
        <li>
            <a href="#">Home</a>
            <i class="icon-angle-right"></i>
        </li>
        <li>
            <a href="#">Dashboard</a>
        </li>
    </ul>
    <div class="close-bread">
        <a href="#"><i class="icon-remove"></i></a>
    </div>
</div>


<div class="row-fluid">
    <div class="span12">


        <div class="box box-color box-bordered">
            <div class="box-title">
                <h3>
                    <i class="icon-table"></i>
                    Issue Log
                </h3>
            </div>
            <div class="box-content nopadding">
                <table class="table table-hover table-nomargin table-bordered dataTable">
                    <thead>
                        <tr>
                            <th>Issue No.</th>
                            <th>Title</th>
                            <th class='hidden-1024'>Issue Description</th>
                            <th class='hidden-350'>Originator</th>
                            <th class='hidden-1024'>Process</th>
                            <!--<th class='hidden-1024'>Category</th>-->
                            <!--<th class='hidden-1024'>Severity</th>-->
                            <th class='hidden-1024'>Status</th>
                            <th class='hidden-1024'>Date Raised</th>
                            <!--<th class='hidden-1024'>Date Resolved</th>-->
                            <th class='hidden-1024'>Issue Age</th>
                            <!--<th class='hidden-1024'>Remark</th>-->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in ViewBag.IssueLog)
                        {

                            <tr>
                                <td>@data.Issue_No</td>
                                <td>@data.Title</td>
                                <td class='hidden-1024'>@data.Issue_Description</td>
                                <td class='hidden-350'>@data.Originator_Name</td>
                                <td class='hidden-1024'>@data.Process</td>
                                <!--<td class='hidden-1024'>@data.Category</td>-->
                                <!--<td class='hidden-1024'>@data.Severity</td>-->
                                <td class='hidden-1024'>@data.Status</td>
                                <td class='hidden-1024'>@data.Date_Raised</td>
                                <!--<td class='hidden-1024'>@data.Date_Resolved</td>-->
                                <td class='hidden-1024'></td>
                                <!--<td class='hidden-1024'></td>-->
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

